{% extends 'admin/base.html' %}

{% block title %} Admin page Duong{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
            <table class="table">
                <tr>
                    <th>Labos ID</th>
                    <th>Labos nom</th>
                    <th>Nombre d'employer</th>
                </tr>
                {% for e in msg  %}
                <tr>
                    <td>{{ e[0] }}</td>
                    <td>{{ e[1] }}</td>
                    <td>{{ e[2] }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">
            <canvas id="test-chart" ></canvas>
        </div>
    </div>
    <h5 style="color: red">Test query</h5>
    <H5>{{ msg }}</H5>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let labels = []
        let info = []

        {% for e in msg %}
            labels.push('{{ e[1] }}')
            info.push({{ e[2] }})
        {% endfor %}

        window.onload = function () {
            const ctx = document.getElementById("test-chart").getContext('2d')
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Nombre de employes",
                        data: info,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {display: false},
                        title: {
                            display: true,
                            text: "Nombre d'employes chaque laboratoire"},
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
                    }
    </script>
{% endblock %}