<html>
    <head>
      <title>Welcome to Myblog</title>
    </head>
    <body>
        <h1>Test</h1>
        <hr>
        Fail!
        <form action="/u-had-submitted" method="POST">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <br><br>
        <button><a>Send</a></button><br>
        </form>
    </body>
</html>