{% extends "base.html"%}

{% block content%}
<form action="" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <br><br>
    <button><a>Send</a></button><br>
</form>
{#<hr>#}
{#<div>#}
{#    <form>#}
{#        <input type="text" name="keyword" placerholder="search">#}
{#        <input type="submit" value="search">#}
{#    </form>#}
{#    <ul>#}
{#    {% for client in client_list %}#}
{#        <li> Firstname: {{client["firstname"]}} , Lastname: {{client["lastname"]}}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#</div>#}
{% endblock%}